@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
p {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}
.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
.section-title span {
  color: crimson;
}
.cta {
  display: inline-block;
  padding: 10px 30px;
  color: crimson;
  background-color: transparent;
  border: 2px solid crimson;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}
.cta:hover {
  color: white;
  background-color: crimson;
}
/* Header Section */
#header{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: auto;
  width: 100vw;
}
#header .header{
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.24);
}
#header .header .nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  padding: 0 10px;
}
#header .brand h1{
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
}
#header .brand span{
  color: crimson;
}
#header .brand a{
  text-decoration: none;
}
#header .nav-list ul{
list-style: none;
position: absolute;
background-color: rgb(31, 30, 30);
left: 0;
top: 0;
width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
z-index: 1;
overflow-x: hidden;
}
#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}
/* End of Header Section */

/* Hero Section */
#hero {
  background-image: url(./img/hero-bg.png);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}
#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}
#hero h1 {
  position: relative;
  display: block;
  width: fit-content;
  font-size: 4rem;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1.5s;
}
#hero h1:nth-child(1) {
  animation-delay: 1.5s;
}
#hero h1:nth-child(2) {
  animation-delay: 2.5s;
}
#hero h1:nth-child(3) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 3.5s;
}
#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: crimson;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.3s;
}
#hero h1:nth-child(1) span {
  animation-delay: 1s;
}
#hero h1:nth-child(2) span {
  animation-delay: 2s;
}
#hero h1:nth-child(3) span {
  animation-delay: 3s;
}
/* End of Hero Section */

/* Services Section */
#services .services {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}
#services .service-top{
  max-width: 1400px;
  min-width: 400px;
  margin: 0 auto;
}
#services .service-top p {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}
#services .service-botton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
#services .service-item {
  flex-basis: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url(./img/img-1.png);
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 28px 0px #0000002c;
  transition: 0.3s ease;
}
#services .service-item:hover {
  box-shadow: 0px 0px 10px 0px #0000002c;
}
#services .service-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.7;
  border-radius: 10px;
  z-index: -1;
}
#services .service-botton .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}
#services .service-botton .icon img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#services .service-item h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}
#services .service-item p {
  color: white;
  text-align: left;
}
/* End of Service Section */

/* Projects Section */
#projects .projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
#projects .projects-header h1 {
  margin-bottom: 50px;
}
#projects .all-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#projects .project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 20px auto;
}
#projects .project-info {
  border-radius: 10px 10px 0px 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-basis: 50%;
  background-color: #8fd3f4;
  color: white;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#projects .project-info h1 {
  font-size: 4rem;
  font-weight: 500;
}
#projects .project-info h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 10px;
}
#projects .project-info p {
  color: white;
}
#projects .project-img {
  flex-basis: 50%;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  position: relative;
  border-radius: 0px 0px 10px 10px;
}
#projects .project-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.3;
  border-radius: 0px 0px 10px 10px;
}
#projects .project-img img {
  height: 500px;
  object-fit: cover;
}
#projects .project-item:hover .project-img img {
  transform: scale(1.1);
  transition: 0.3s ease;
  transition-property: transform;
}
/* End of Projects Section */

/* About Section */
#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}
#about .col-left {
  width: 250px;
  height: 360px;
}
#about .col-right {
  width: 100%;
}
#about .col-right h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}
#about .col-right .projectOutput {
  margin-bottom: 20px;
}
#about .col-right .cta {
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 2rem;
}
#about .col-left .about-img {
  position: relative;
  border: 10px solid white;
  width: 100%;
  height: 100%;
}
#about .col-left .about-img::after {
  content: "";
  position: absolute;
  left: -33px;
  top: 19px;
  height: 98%;
  width: 98%;
  border: 7px solid crimson;
  z-index: -1;
}
/* End of About Section */

/* Contact Section */
#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}
#contact .contact-items {
  width: 400px;
}
#contact .contact-items .contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  max-width: 1200px;
  margin: 20px auto;
  padding: 30px;
  width: 75%;
  box-shadow: 0px 0px 18px 0px #0000002c;
  transition: 0.3s ease;
}
#contact .contact-items .contact-item:hover{
  box-shadow: 0px 0px 5px 0px #0000002c;
}
#contact .icon {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}
#contact .contact-info h1{
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}
#contact .contact-info h2{
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}
/* End of Contact Section */

/* Footer Section */
#footer{
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer{
  flex-direction: column;
  min-height: 260px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 10px;
}
#footer .brand h1{
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
}
#footer .footer h2{
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer .social-icons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
#footer .social-icons .social-item{
  height: 50px;
  width: 50px;
  margin: 0 5px;
}
#footer .social-icons .social-item img{
  filter: grayscale(1);
  transition: 0.3s ease filter;
}
#footer .social-icons .social-item img:hover{
  filter: grayscale(0);
}
#footer .footer p{
  color: white;
  font-size: 1.3rem;
}
/* End of Footer Section */

/* Keyframes */
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: white;
  }
}
@keyframes text_reveal_name {
  100% {
    color: crimson;
    font-weight: 500px;
  }
}
/* End of Keyframes */

/* Media Query for Tablet */
@media only screen and (min-width: 768px){
  .cta{
    font-size: 2.5rem;
    padding: 20px 60px; 
  }
  h1.section-title {
    font-size: 6rem;
  }

  /* Hero */
  #hero h1{
    font-size: 7rem;
  }
  /* End of Hero */

  /* Services Section */
  #services .services .service-botton .service-item{
    flex-basis: 45%;
    margin: 2.5%;
  }
  /* End of Services Section */

  /* Projects Section */
  #projects .all-projects .project-item{
    flex-direction: row;
    margin: 0;
    height: 400px;
    width: 100%;
    border-radius: 0;
  }
  #projects .all-projects .project-item:nth-child(even){
    flex-direction: row-reverse;
    border-radius: 0;
  }
  #projects .all-projects .project-info{
    height: 100%;
    border-radius: 0;
  }
  #projects .project-img{
    height: 100%;
    border-radius: 0;
  }
  #projects .project-img::after{
    border-radius: 0;
  }
  #projects .all-projects img{
    border-radius: 0;
    height: 100%;
  }
  /* End of Projects Section */

  /* About Section */
  #about .about {
    flex-direction: row;
  }
  #about .col-left{
    flex-direction: row;
    flex-basis: 50%;
    padding-right: 60px;
    height: 400px;
  }
  #about .col-left .about-img::after{
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid crimson;
  }
  #about .col-right {
    text-align: left;
    padding: 30px;
  }
  #about .col-right h1{
    text-align: left;
  }
  /* End of About Section */
  
  /* Contact Section */
  #contact .contact{
    display: flex;
    min-width: 20vh;
    margin: 0 auto;
  }
  #contact .contact-items{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0, 60px;
    padding: 20px 0;
  }
  #contact .contact-items .contact-item{
    flex-direction: row;
    flex-basis: 25%;
  }
  #contact .contact-item .icon img {
    object-fit: contain;
  }
  #contact .contact-item .contact-info{
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }
  /* End of Contact Section */
}
/* End of Media Query for Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px){
  #services .services .service-botton .service-item{
    flex-basis: 20%;
    margin: 0 2.5%;
  }
}
/* End of Media Query For Desktop */
